<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%c{1}] : %m at %d{yy-MM-dd HH:mm:ss}%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="com.bit.spring.controller" level="TRACE" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="com.bit.spring.handler.UserAuthSuccessHandler" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="TRACE">
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>

</Configuration>